/* Custom */
.help-list {
  list-style: none;
  padding-left: 0;
  background-color: ghostwhite;
  padding: 5px;

  font-size: 18;
}

ul.help-list > li {
  border-left: 2px solid #419688;
  padding-left: 1em;
  margin-bottom: 10px;
}


ul.help-list pre {
  padding-left: 0.5em;
  border-left: 2px solid #419688;
  margin-bottom: 5px;
  margin-top: 5px;
  /* border-left: 2px solid #3E51B5; */
}

ul.role-list {
  list-style: none;
  overflow:hidden;
}

ul.role-list li {
  padding: 5px;
  margin: 10px;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 530px) {
  .content {
    padding: 5px !important;
  }

  ul.role-list {
    padding-left: 0 !important;
  }
}

#preview-card {
  width: 100%;
}

#email-card {
  width: 100%;
}

#help-card {
  width: 100%;
}

/* End Custom */

.ribbon {
  width: 100%;
  height: 40vh;
  background-color: #3F51B5;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.green-separator {
  width: 100%;
  height: 10vh;
  background-color: #419688;
  margin-top: 2em;
  margin-bottom: 2em;
}

.red-separator {
  width: 100%;
  height: 10vh;
  background-color: #e57373;
  margin-top: 2em;
  margin-bottom: 2em;
}

.main {
  margin-top: -35vh;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.demo-header .mdl-layout__header-row {
  padding-left: 40px;
}

.container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.content {
  border-radius: 2px;
  padding: 80px 56px;
  /* margin-bottom: 80px; */
}


.content h3 {
  margin-top: 48px;
}

.footer {
  padding-left: 40px;
}

.footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}
